/* Style Sheet for Wingman */

* {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 48;
}

.page-title {
    color: white;
    text-shadow: 2px solid black;
    text-align: center;
}